@import "./scss/reset.scss";
@import "./scss/_mixin.scss";
@import "./scss/_variables.scss";
@import "./scss/slick.scss";

.header {
  background-color: $purple;
  &__top-informatives {
    background-color: $darkPurple;
    color: $white;
    padding: 7px;
    height: 30px;

    @include flex();

    @include media-mob() {
      height: 41px;
      padding: 11px;
    }

    &--text {
      @include flex(center, flex-end);

      font-size: calculator-rem(12);
      font-weight: 300;

      &::after {
        content: "";
        width: 1px;
        height: 12px;
        background-color: $white;
        display: inline-block;

        margin: 0 10px 0 5px;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }

    &--text-strong {
      font-weight: 700;
      margin: 0 5px;

      @include flex(center, center);

      font-size: calculator-rem(12);
    }

    &--text-margin {
      font-weight: 300;

      margin-left: 5px;
    }
  }

  &__top-informatives--wrapper {
    max-width: 495px;
    @include flex(flex-start);

    @include media-mob() {
      max-width: inherit;
    }
  }

  &__top-informatives-position {
    display: flex;
  }

  &__container {
    @include container-center();
    @include flex(space-between);

    height: 79px;
  }

  &__logo {
    max-width: 238px;
    max-width: 100%;

    &--text {
      font-size: calculator-rem(48);
      font-family: "ovo", sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: $white;
    }

    @include media-mob() {
      order: 2;
    }
  }

  &__menu-hamburger {
    display: none;

    @include media-mob() {
      display: block;
      order: 1;
      margin-right: 35px;
    }
  }

  &__menu {
    @include flex(space-between);
    flex: 1;

    margin: 0 31px;

    @include media-mob() {
      display: none;
    }
  }

  &__menu-wrapper {
    position: relative;

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      .header__menu-items {
        display: flex;
        z-index: 2;
      }
    }
  }

  &__menu-department {
    text-decoration: none;
    text-transform: uppercase;

    color: $white;
    font-weight: 700;
    font-size: calculator-rem(14);
    transition: all 0.3s;

    height: 79px;
    display: flex;
    align-items: center;

    position: relative;

    &:hover {
      color: $darkGrey;
    }
  }

  &__menu-items {
    @include flex();
    flex-direction: column;
    position: absolute;
    width: 194px;
    top: 64%;
    margin-top: 20px;
    font-size: 0;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    border-top: 8px solid $darkPurple;

    display: none;

    &.turmalina {
      background-color: $purple;
    }

    &.others {
      max-height: 383px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 12px;
        background-color: $grey;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $purple;
        border-radius: 33px;
      }
    }
  }

  &__menu-wrapper-category {
    width: 100%;
    transition: 0.7s;
    background-color: $white;

    &:hover {
      background-color: lighten($purple, 20);

      .header__menu-sub-category {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__menu-category {
    text-decoration: none;
    width: 149px;
    width: 100%;
    color: $black;
    font-weight: 400;
    font-size: calculator-rem(13);
    @include flex(flex-start);
    padding-left: 26px;
    height: 40px;
    transition: 0.7s;

    &:hover {
      background-color: lighten($purple, 20);
    }
  }

  &__menu-sub-category {
    position: absolute;
    left: 100%;
    width: 210px;
    top: -8px;
    background-color: $white;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    border-top: 8px solid $darkPurple;

    display: none;

    &.turmalina-sub-category {
      max-height: 288px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 12px;
        background-color: $grey;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $purple;
        border-radius: 33px;
      }
    }
  }

  &__wrapper-icons {
    @include flex();

    max-width: 135px;
    width: 100%;

    @include media-mob() {
      order: 3;
    }
  }

  &__icons {
    &--image {
      max-width: 23px;
      max-height: 23px;

      margin-right: 31px;

      cursor: pointer;
    }
    &:last-child {
      .header__icons--image {
        margin-right: 0;
      }
    }

    @include media-mob() {
      &.lupe,
      &.user {
        display: none;
      }
    }
  }

  &__menu-mobile {
    position: fixed;
    top: 0%;
    left: -200%;
    background-color: transparent;
    z-index: 2;

    height: 100vh;

    transition: all 0.9s;

    @include flex(space-between, flex-start);

    &.active {
      left: 0;
    }
  }

  &__menu-mobile-estructure {
    width: 80%;
  }

  &__menu-fixed {
    @include flex(flex-start);
    background-color: $purple;
    height: 51px;
    padding: 17px 77px 17px 26px;
    border: 1px solid $grey;
  }

  &__menu-img {
    margin-right: 12px;
  }

  &__menu-fixed-text {
    color: $white;
    font-weight: 700;
    text-decoration: none;
  }

  &__menu-color-type {
    @include flex(space-between);
    background-color: $darkPurple;
    height: 51px;
    padding: 17px 15px 17px 26px;
    border: 1px solid $white;
    border-left: 0;
    border-right: 0;
  }

  &__menu-mobile-wrapper-color-type-items {
    @include flex(space-between);
    height: 51px;
    padding: 17px 15px 17px 26px;
    border: 1px solid $grey;
    border-left: 0;
    border-right: 0;
    background-color: $white;
  }

  &__menu-text-color-type {
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__menu-iconArrow {
    transition: 0.3s;
    &.active {
      transform: rotate(0.5turn);
      transition: 0.3s;
    }
  }

  &__menu-mobile-color-type-items {
    @include flex(space-between);
    border: 1px solid $grey;
    border-left: 0;
    border-right: 0;

    display: none;

    &.active {
      display: block;
    }
  }

  &__menu-mobile-color-text-type-items {
    text-decoration: none;
    color: $darkPurple;
  }

  &__menu-Arrow-up {
    transform: rotate(0.5turn);
  }

  &__menu-mobile-shadow {
    top: 0;
    right: 0;
    background-color: $white;

    @include flex();
    width: 80px;
    height: 89px;
  }

  &__menu-mobile-close {
    @include flex();
    width: 14px;
    height: 14px;
    right: 0;
  }

  &__mobile-search {
    display: none;

    @include media-mob() {
      @include flex();
    }

    &--altogether {
      background: $white;
      display: flex;
      align-items: center;
      border: 1px solid $black;
      padding: 0 10px;
      margin: 0 15px 10px;
    }

    &--input {
      width: 330px;
      height: 48px;
      outline: none;
      border: 1px transparent;
      color: $lilac;
    }
  }
}

.main {
  &__informations {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: $darkPurple;
  }

  &__informations-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 60px;

    @include media-mob() {
      justify-content: space-between;
      margin: 0;
    }
  }

  &__informations-items {
    display: flex;
    align-items: center;
    justify-content: center;

    &--text {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      color: $white;
    }

    &--bold {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    &--light {
      font-size: 12px;
    }
  }

  &__jewels-variety {
    max-width: 1063px;
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    margin-left: 180px;
  }

  &__jewels-variety-title {
    @include flex();
    text-transform: uppercase;
    font-size: 24px;
    color: $darkGrey;

    &--text {
      font-weight: 300;
    }

    &--bold {
      font-weight: 700;
      margin: 0 5px;
    }
  }

  &__jewels-wrapper {
    margin-top: 22px;
  }

  &__jewels-informations {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--text {
      color: $purple;
      margin-top: 24px;
    }
  }

  &__banner-mid {
    display: flex;
    margin: 88px 0 100px;

    &__banner {
      width: 40%;
    }

    &__shelf {
      width: 50%;
    }
  }

  &__banner-mid-text {
    @include flex();
    flex-direction: column;
    width: 50%;
    max-width: 444px;
    margin: 0 123px 0 170px;
  }

  &__banner-mid-subtitle {
    font-size: calculator-rem(18);
    font-weight: 400;
    color: $purple;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__banner-mid-title {
    font-family: "ovo", sans-serif;
    font-size: calculator-rem(42);
    font-weight: 400;
    text-transform: uppercase;
    color: $blue;
    margin-bottom: 20px;
  }

  &__banner-mid-paragraph {
    font-size: calculator-rem(20);
    font-weight: 400;
    color: $purple;
    margin-bottom: 67px;
  }

  &__banner-mid-button {
    width: 133px;
    height: 38px;
    border-radius: 10px;
    background-color: $white;
    border: 1px solid $blue;

    font-size: calculator-rem(14);
    color: $blue;
    text-transform: uppercase;

    &:hover {
      color: $white;
      background-color: $lilac;
    }
  }

  &__banner-mid-banner {
    width: 500px;
    height: 500px;
  }

  &__informations-second {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    margin-top: 84px;
  }

  &__wrapper-informations {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 60px;
  }

  &__informations-last-items {
    display: flex;
    align-items: center;
    justify-content: center;

    &--text {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
      color: $purple;
    }

    &--bold {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    &--light {
      font-size: 12px;
    }
  }
}

.shelf {
  @include flex();
  flex-direction: column;
  flex-wrap: wrap;

  &__wrapper {
    width: 100%;
    max-width: 1036px;
  }

  &__wrapper-second {
    width: 100%;
    max-width: 1036px;
  }

  &__title {
    @include flex();
    margin: 75px 0 30px;
    text-transform: uppercase;
    font-size: 24px;
    color: $darkGrey;

    &--text {
      font-weight: 300;
      margin-right: 5px;
    }

    &--bold {
      font-weight: 700;
    }
  }

  &__product {
    width: 240px;

    @include flex();
    flex-direction: column;
  }

  &__image {
    width: 240px;
    height: 240px;
  }

  &__seal {
    width: 240px;
    background: $lilac;
    color: $white;
    font-weight: 800;
    font-size: calculator-rem(12);
    text-transform: uppercase;

    text-align: center;

    padding: 7px 0;

    margin-bottom: 21px;
  }

  &__name {
    font-weight: 400;
    font-size: calculator-rem(18);
    color: $purple;
    text-align: center;

    margin-bottom: 46px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    height: 38px;
  }

  &__price {
    font-size: calculator-rem(24);
    color: $blue;
    font-weight: 700;
    text-align: center;

    margin-bottom: 12px;
  }

  &__installment {
    font-size: calculator-rem(14);
    color: $purple;
    font-weight: 400;

    margin-bottom: 24px;
  }

  &__button {
    padding: 12px 0;
    width: 240px;
    background-color: $green;
    color: $white;
    font-family: 700;
    font-size: calculator-rem(18);
    border-radius: 50px;

    border: 0;

    &:hover {
      background-color: $darkerGreen;
    }
  }
}

.banner-mid-content-image {
  width: 518px;
  height: 565px;
}

.banner-mid-content2 {
  margin-left: 110px;
}

.banner-with-shelf-text {
  background-color: $lightGreen;
  position: absolute;
  width: 100%;
  height: 274px;
}

.banner-with-shelf-background-wrap-text {
  margin-left: 110px;
}

.banner-with-shelf-text-title {
  color: $textGreen;
  font-size: calculator-rem(26);
  font-weight: 700;
  text-transform: uppercase;
  margin: 28px 0 10px;
}

.banner-with-shelf-text-bold {
  color: $textGreen;
  font-weight: 400;
  font-size: calculator-rem(18px);
}

.banner-mid-content-image-with-shelf {
  margin-top: 114px;
  position: absolute;
}

.shelf-with-banner {
  max-width: 497px;
  margin: 115px 150px 0;
}

.last-banner-mid {
  display: flex;
}

.last-banner-mid-text {
  @include flex();
  flex-direction: column;
  max-width: 405px;
  margin: 0 105px 0 202px;

  b {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: $purple;
  }

  h3 {
    font-family: "Ovo", sans-serif;
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    color: $blue;
    margin-top: 16px;
  }

  p {
    font-size: 16px;
    color: $black;
    align-items: center;
    margin: 26px 0 52px;
  }

  button {
    width: 253px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid;
    text-transform: uppercase;
    background-color: $white;
    color: $blue;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: $white;
      background-color: $lilac;
    }
  }
}

.last-banner-mid-banner {
  width: 615px;
  height: 512px;
}

.instafeed {
  margin-left: 112px;
  &__text {
    margin-top: 75px;
    max-width: 1199px;
    display: flex;
    justify-content: space-between;
  }

  &__description {
    font-weight: 400;
    font-size: calculator-rem(16);
    margin: 13px 0 34px;
    color: $purple;

    &--hashtags {
      font-weight: 300;
      margin-top: 10px;
    }
  }

  &__wrapper-text {
    max-width: 672px;
  }

  &__wrapper-title {
    display: flex;
    justify-content: space-between;
    width: 240px;

    &--text {
      font-weight: 400;
      font-size: calculator-rem(20);
      text-transform: uppercase;
      color: $darkGrey;
    }

    &--bold {
      font-weight: 700;
      font-size: calculator-rem(20);
      text-transform: uppercase;
      color: $darkGrey;
    }
  }

  &__social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 165px;

    &--follow-us {
      font-weight: 400;
      font-size: calculator-rem(16);
      text-transform: uppercase;
      color: $purple;
    }
  }

  &__photos-position {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
}

.footer {
  background-color: $darkPurple;

  margin-top: 50px;
  padding: 53px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 768px) {
    &__wrapper {
      width: 100%;
      max-width: 600;
      margin: 0 auto;
    }
  }

  @media (min-width: 1024px) {
    background-image: url(./assets/butterfly-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__wrapper {
      max-width: 1440px;
    }
  }

  &__newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h5 {
      font-family: "Mulish", sans-serif;
      text-transform: uppercase;
      color: $white;
      font-size: calculator-rem(20);
      font-weight: 400;
    }

    strong {
      font-weight: 700;
    }

    p {
      font-family: "Mulish", sans-serif;
      margin: 9px 0 15px;
      color: $white;
      font-size: calculator-rem(16);
      font-weight: 400;
    }
  }
  &__newsletter-form {
    label {
      font-family: "Mulish", sans-serif;
      color: $white;
      font-size: calculator-rem(16);
      font-weight: 700;
    }

    input {
      width: 100%;
      height: 40px;
      margin: 5px 0 10px;
    }

    button {
      font-family: "Mulish", sans-serif;
      width: 100%;
      height: 40px;
      text-transform: uppercase;
      font-size: calculator-rem(16);
      color: $button-black;
      margin-top: 5px;
    }
  }

  &__medias {
    margin-top: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h5 {
      font-family: "Mulish", sans-serif;
      text-transform: uppercase;
      color: $white;
      font-size: calculator-rem(16);
      font-weight: 400;
    }
  }
  &__medias-icon-wrapper {
    margin-top: 19px;
    width: 100%;
    display: flex;
    gap: 43px;

    display: flex;
    justify-content: center;
  }

  &__menu {
    width: 100%;
    margin-top: 30px;

    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__menu-category {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    &.active {
      .footer__menu-category-content {
        padding: 10px 24px 15px;
        transition: 0.9s;
        height: 190px;
      }

      .footer__menu-category-header--img {
        transform: rotate(0.5turn);
        transition: 0.3s;
      }
    }
  }
  &__menu-category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    background-color: $purple;
    padding: 15px 24px;

    &--lowercase {
      font-size: calculator-rem(16);
      color: $white;
      font-weight: 700;
      text-transform: none;
    }

    &--title {
      font-size: calculator-rem(16);
      color: $white;
      font-weight: 700;
      text-transform: uppercase;
    }

    &--img {
      transform: rotate(0);
      transition: 0.3s;
    }
  }
  &__menu-category-content {
    height: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    transition: 0.9s;

    @media (min-width: 1024px) {
      height: auto;
      overflow: visible;
    }

    &--link {
      color: $white;
      font-size: 14px;

      display: block;
      padding: 10px 0;
      text-decoration: none;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    flex-direction: column;

    text-transform: uppercase;

    
    margin: 30px 0 47px;
    padding: 0 24px;

    &--opening-hour {
      color: $white;
      font-size: calculator-rem(14);
      display: block;
      padding: 10px;
      width: 236px;

      text-align: center;

      strong {
        font-weight: 700;
      }
    }
  }
}
